
<p-card  [style]="{width: '380px'}" styleClass="ui-card-shadow ui-card" >
  <p-header styleClass="ui-card" [ngStyle]="student.category==='domestic' && {'color': 'orange'} || student.category==='international' && {'color': 'blue'}">
    <h1>{{student.name}}</h1>
  </p-header>
  <p [ngStyle]="student.category==='domestic' && {'background': 'orange'} || student.category==='international' && {'background': 'blue', 'color': 'white'}">
  {{studentIndex}}<br>
  DOB: {{student.dob | date }}<br>
  Father's Name : {{student.fatherName}}<br>
  Mother's Name : {{student.motherName}}<br>
</p>
  <p-footer styleClass="ui-card" >
    <table>
      <tr>
    <td><button pButton type="button" label="Edit" icon="pi pi-check" style="margin-right: .25em" (click)="editClick($event)"></button></td>
    <td><button pButton type="button" label="View" icon="pi pi-check" style="margin-right: .25em"  (click)="viewClick($event)"></button></td>
    <td><button pButton type="button" label="Delete" icon="pi pi-times" class="ui-button-secondary ui-button-danger" (click)="deleteClick($event)"></button></td>
  </tr>
  </table>
    <!-- <p-table >
      
      <tr>
          <td><button pButton type="button" label="Edit" icon="pi pi-check" style="margin-right: .25em" (click)="editClick($event)"></button>
          </td>
          <td><button pButton type="button" label="View" icon="pi pi-check" style="margin-right: .25em"  (click)="viewClick($event)"></button>
          </td>
          <td><button pButton type="button" label="Delete" icon="pi pi-times" class="ui-button-secondary ui-button-danger" (click)="deleteClick($event)"></button>
          </td>
      </tr>

</p-table> -->

  </p-footer>
</p-card>
